# ignore output directories
target

# ignore eclipse project and workspace settings
.classpath
.project
.settings
.metadata

# ignore log output
*.log

# ignore VC++ intermediate files
*.ncb
*.suo
*.user
*.idc
Debug
Release
~AutoRecover.*.vcproj
*.sdf
*.opensdf
*.vcxproj.filters

# ignore VC++ test output
test_detail.xml

# ignore temporary certificate files
*temporary*File.der
