# ignore output directories
target

# ignore eclipse project and workspace settings
.classpath
.project
.settings
.metadata

# ignore log output
*.log

# ignore VC++ intermediate files
*.ncb
*.suo
*.user
*.idc
Debug
Release

# ignore VC++ test output
test_detail.xml
